html {
    font-size: 10px;
}
body{
    cursor: url('../imgs/normal.cur'), auto;
}


@font-face {
    font-family: "Merriweather Sans";
    src: url("../ttf/MerriweatherSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FenPinYinTi";
    src: url("../ttf/FenPinYinTi.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "QianTuXiaoTuTi";
    src: url("../ttf/QianTuXiaoTuTi.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0;
}